#tpt-previews  {
    display: flex;
    flex-wrap: wrap;
}

.tps-test-preview {
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
    margin-top:2rem;
}

.tps-test-preview a {
    /*background-color: yellow;*/
    font-size:2em;
}


