
body {
    overflow-y: scroll;
    position: static;  
  }

.tps-test-tracing-steps {
    border-style:solid;
    border-width:1px;
}

.tps-test-tracing-step {
    border-style:solid;
    border-width:1px;
    border-color:grey; 
}


.tps-test-suite {
    font-size:1.2em;
    font-weight:bold;
    width:100%;
    margin-right:0 !important;
    margin-left:0 !important;
    padding-left:0.8rem;
    padding-right:0.8rem;
    padding-top:20px !important;
    padding-bottom:20px !important;
     
    align-items: center;
    background-color:#e5ecff;
}


#tps-test-area  {
    display: flex;
    flex-wrap: wrap;
}

.tps-test-preview {
    display: flex;
    flex-direction: column;
    
    margin-top:0.7rem;
    margin-left:1rem;
    margin-right:1rem;
    margin-bottom:0rem;
}


.tps-test-preview .tps-script-description {
    margin-top:0rem;
    margin-bottom:0rem;
    padding-bottom:0rem;
    overflow-y:auto;
    max-height:200px !important;
}

.tps-test-preview .tps-script-title  {
    padding-bottom:0rem;
}

.tps-test-visual-wrapper {
    margin-top:0rem;
    border-width:1px;
    border-style:solid;
}



